*
    font-family: 'Montserrat', sans-serif

.header
    padding: 100px 0
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        &-logo
            display: flex
            flex-direction: column
            left: -40%
            align-items: flex-end
            color: #000000
            font-size: 40px
            font-weight: 800
            width: 80%
            transition: 1s all
            position: absolute
            top: 40%
            img
                margin-top: 10px
                width: 50%
                margin-left: 20px
            &_descr
                position: absolute
                right: 0
                top: -100%
                transition: 0.5s all
        &-image
            width: 500px
            height: 500px
            background: linear-gradient(123.16deg, #ECECEC 13.37%, rgba(255, 255, 255, 0) 82.71%), #FFFFFF
            border-radius: 100%
            position: absolute
            right: 0
            top: 50vh
            transform: translateY(-70%)
            z-index: -2
            overflow: hidden
            &_fill
                position: absolute
                width: 80%
                height: 80%
                background: linear-gradient(154.27deg, rgba(255, 255, 255, 0) -11.34%, #009688 83.74%), linear-gradient(303.94deg, rgba(255, 255, 255, 0) 27.35%, #1074A2 91.25%), #FFFFFF;
                border-radius: 100%
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                z-index: -1
            img
                height: 90%
                bottom: 0
                left: 50%
                transform: translateX(-50%)
                position: absolute
                z-index: 10
                opacity: 0
                transition: 1s all

        &-main
            color: #000000
            font-size: 25px
            font-weight: 800
            width: 50%
            opacity: 0
            transition: 1s all
            margin-top: 30px
            span
                color: #009688
            &_descr
                margin-bottom: 30px
            &_wrapper
                &-item
                    margin-bottom: 15px
                    cursor: pointer
        &-about
            font-size: 13px
            line-height: 15px
            width: 50%
            display: none
            opacity: 0
            transition: 1s all
            span
                font-weight: 800
            &_title
                span
                    font-size: 26px
            .btn
                font-size: 20px
                font-weight: 800
                line-height: 50px
                text-transform: uppercase
                text-decoration: underline
                cursor: pointer
                text-align: center
                margin-top: 20px
            &_respons
                display: none
                opacity: 0
                transition: 0.5s all
                height: 70vh
                overflow: scroll
                padding: 20px 20px
                border: 1px solid #1A75A0
                margin-top: 10px
        &-more
            padding: 30px 0
            font-size: 20px
            font-weight: 500
            width: 50%
            display: none
            opacity: 0
            transition: 1s all
            &_title
                font-weight: 800
                margin: 20px 0
            &_tel
                font-weight: 800
                margin: 20px 0
                display: block
                color: #000 !important
            form
                display: flex
                flex-direction: column
                input
                    margin: 20px 0
                    border: none
                    border-bottom: 3px solid #000
                    padding: 10px
                button
                    margin-top: 20px
                    border: none     
                    border-bottom: 3px solid #000
                    background: none
                    padding: 10px
                    transition: 0.5s all
                    &:hover
                        transform: scale(1.1)
                #send-message
                    font-size: 15px
                    color: #159588
                    opacity: 0
@media (max-width: 1200px)
    .header
        padding-bottom: 0
        &__wrapper
            &-main
                &_wrapper
                    &-item
                        font-size: 22px
            &-about
                &_respons
                    height: 63vh
            &-image
                width: 400px
                height: 400px
            &-more
                padding: 0
                &_title
                    margin: 5px 0
                &_tel
                    margin: 5px 0
@media (max-width: 992px)
    .header
        &__wrapper
            &-main
                &_descr
                    margin-bottom: 15px
                    font-size: 20px
                    line-height: 20px
                &_wrapper
                    &-item
                        font-size: 18px
            &-about
                &_respons
                &_title
                    span
                        font-size: 20px
                .btn
                    font-size: 15px
            &-image
                width: 340px
                height: 340px
            &-more
                &_title
                &_tel
                   margin: 5px 0
@media (max-width: 767px)
    .header
        &__wrapper
            flex-direction: column
            width: 100%
            &-logo
                left: -100px
                transform: none
                &_descr
                    top: -120%
                    font-size: 30px
            &-main
                width: 100%
                text-align: center
                &_descr
                    font-size: 15px
                    line-height: 15px
                &_wrapper
                    &-item
                        font-size: 15px
            &-about
                width: 100%
                &_respons
                &_title
                    span
                .btn
                    line-height: 30px
            &-image
                width: 100px
                height: 100px
                top: 0
                transform: translateY(-100%)

            &-more
                text-align: center
                width: 100%
                &_title
                    font-size: 18px
                &_tel
                    font-size: 18px